<form class="configuration-form">
    <mat-card class="sensor-card" *ngFor="let configuration of configurations; let i = index" [attr.data-index]="i">
        <mat-card-content>
            <div class="sensor">
                <mat-slide-toggle [(ngModel)]="configurations[i].enabled" name="configurarions[{{i}}].enabled"
                    color="primary" (change)="turnOnOff(configuration)" [disabled]="!formEnabled">
                    {{ configuration.description }}
                </mat-slide-toggle>
                <mat-form-field>
                    <input matInput [disabled]="!formEnabled || !configuration.enabled"
                        placeholder="Quantidade de sensores" [(ngModel)]="configurations[i].sensors"
                        name="configurarions[{{i}}].sensors" type="number">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <button mat-raised-button type="button" color="primary" (click)="turnOn()" [disabled]="!formEnabled">
        Ligar sensores
    </button>
    <button mat-raised-button type="button" (click)="turnOff()" [disabled]="formEnabled">
        Desligar sensores
    </button>
</form>