<mat-card class="mat-elevation-z3 mt-card">
    <mat-card-title class="title">
        Eventos processados por hora
    </mat-card-title>
    <mat-slide-toggle class="card-title-button" [(ngModel)]="autoUpdate" name="autoUpdate" color="primary"
        (change)="updateSeconds()">
        Atualizar automaticamente
    </mat-slide-toggle>
    <canvas baseChart height="400" width="1000" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" chartType="line"
        [plugins]="lineChartPlugins">
    </canvas>
</mat-card>