<mat-card class="mat-elevation-z3 mt-card">
    <mat-card-title class="title">
        Eventos processados por hora
    </mat-card-title>
    <mat-slide-toggle class="card-title-button" [(ngModel)]="autoUpdate" name="autoUpdate" color="primary"
        (change)="updateSeconds()">
        Atualizar automaticamente
    </mat-slide-toggle>
    <canvas baseChart height="400" width="1000" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" chartType="line"
        [plugins]="lineChartPlugins">
    </canvas>
    <div class="center">
        <div class="center">
            <mat-radio-group aria-label="Tipo de gráfico" class="chart-options" [(ngModel)]="chartType"
                (change)="changeChartType()">
                <mat-radio-button value="1">Por região</mat-radio-button>
                <mat-radio-button value="2">Por sensor</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</mat-card>